<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Active Search</title>
		<!-- Include HTMX -->
		<script src="https://unpkg.com/htmx.org@1.8.4"></script>
		<link rel="stylesheet" href="/static/styles.css" />
		<meta property="og:title" content="HTMX Active Search" />
		<meta
			property="og:description"
			content="Showcase a favorite feature of htmx." />
		<meta property="og:url" content="https://movie.marklynch.dev" />
		<meta
			property="og:image"
			content="https://movie.marklynch.dev/static/og-image.jpg" />
		<meta property="og:type" content="website" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
	</head>
	<body>
		<div class="container">
			<h1>Active Search</h1>
			<input
				type="text"
				name="query"
				hx-post="/active-search"
				hx-trigger="keyup changed delay:500ms"
				hx-target="#results"
				autocomplete="off"
				placeholder="Type to search for movies..." />
			<div id="results">
				<!-- Search results will be injected here -->
			</div>
		</div>
	</body>
</html>
